<div class="container">

    <div class="row">
        <h2><i>User</i> </h2>
		
    </div>
 
    <form>
    
        <div class="form-group">
        
            <label for="FNameDemo">First Name:</label>
        
            <input type="text" class="form-control" id="FNameDemo" placeholder="Enter First Name">
        
        </div>

        <div class="form-group">
        
            <label for="LNameDemo">Last Name:</label>
        
            <input type="text" class="form-control" id="LNameDemo" placeholder="Enter Last Name">
        
        </div>
    
        <div class="form-group">
        
            <label for="EmailDemo">Your Email:</label>
        
            <input type="email" class="form-control" id="EmailDemo" aria-describedby="emailHelp" placeholder="Enter email">
        
        </div>
        
        <div class="form-group">
        
            <label for="Profession">Profession:</label>
        
            <input type="text" class="form-control" id="Profession"  placeholder="Profession">
        
        </div>
        
    
    <button type="submit" class="btn btn-success">Add User</button>
    
    </form>
 
</div>